@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
/* Base Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    /* 1.6*10 = 16px */
    font-size: 1.6rem;
    color: whitesmoke;
}

h1,
h2,
p {

    margin: 1.6rem 0;
}

h1 {
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}



/* Hero Section */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.logo h1 {
    font-size: 3.2rem;
    color: #4CAF50;
    margin: 0;
}

nav {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav box-icon {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover {
    color: #4CAF50;
    transition: .5s ease-in-out;
}

.header-content {
    width: 50%;
    position: relative;
    top: 16%;
    left: 8%;
}

form {
    margin: 2.4rem 0;
}

input {
    font-size: 1.8rem;
}

input[type=text],
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input::placeholder {
    font-size: 1.3rem;
    color: #ccc;
}

/* About Section */
.about-left,
.about-middle,
.about-right {
    flex-basis: 30%;
    padding: 1.6rem;
}

.btn {

    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin: 2rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.about2 {
    background-color: #222;
    color: whitesmoke;
}

.about2-left {
    flex-basis: 50%;
}

.about2-right {
    flex-basis: 30%;
}

.about2 .card {
    padding: 3rem 8rem;
    color: #222;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
}

/* Process Section */
.process .row {
    justify-content: center;
}

.process-content {
    margin-top: 100px;
}

.progress-bar {
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}

.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
}

.progress-bar .c1 {
    top: -8px;
    left: 50px;
}

.progress-bar .c2 {
    top: -8px;
    left: 50%;
}

.progress-bar .c3 {
    top: -8px;
    right: 50px;
}


.box1,
.box2,
.box3 {
    padding: 1.8rem;
}

.process .box2 {
    text-align: center;
}

.process .box3 {
    text-align: right;
}

.process-content h2 {
    color: #4CAF50;
}

/* Testimony */
.testimony {
    background-color: #222;
    color: whitesmoke;
}

.testimony .test {
    background-color: #505050;
    padding: 4rem 8rem;
    margin: 0 1rem;
}

.testimony .image {
    height: 80px;
    width: 80px;
}

.testimony img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* Contact */
.contact .row {
    justify-content: center;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input {
    width: 50%;
}

.contact textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    resize: none;
    color: #ccc;
    margin: 1.2rem 0;
    font-family: "Poppins", sans-serif;
}

/* Footer */
footer {
    height: 80px;
    background-color: #222;
    color: #fff;
    line-height: 80px;
    text-align: center;
}



/* Media Queries */

@media only screen and (max-width:768px) {

    .row{
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        position: relative;
    }

    nav box-icon {
        display: block;
        position: absolute;
        top: 18px;
        right: 32px;
    }

    nav ul {
        background: whitesmoke;
        display: none;
    }

    .showmenu {
        display: block;
    }

    nav ul li {
        display: block;
        padding: 2% 0;
    }

    nav ul li a {
        color: #222;
    }

    /* header content */
    .header-content{
        width: 100%;
        top:16%;
        left:0;
        text-align: center;
        padding:0 8px;
    }
    input[type=text],
    input[type=email],
    input[type=submit]{
        width: 80%;
        margin:1.2rem auto;
    }

    .progress-bar{
        display: none;
    }
    .process-content{
        margin-top: 20px;
    }
    .process .box1,
    .process .box2,
    .process .box3{
        text-align: center;
    }

    /* Testimony */
    .testimony .test{
        margin:1.6rem 0;
    }

    .contact form input,
    .contact textarea{
        width: 100%;
    }
}